body{
    margin: 0;
    padding: 0;
}

.heading{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: #3498DB;
}

.heading h1 {
    color: white;
}
